# Node modules
/node_modules

# Build output
/build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor folders
.vscode/
.idea/

# Optional log files
*.log
